
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admissions List</title>
    <link rel="stylesheet" href="{% static 'css/view_admissions.css' %}">
</head>
<body>
    <header>
        <h1>Admissions</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="{% url 'custom_admin_dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'edit_admin_profile' %}">Edit Admin Profile</a></li>
            <li><a href="{% url 'view_users' %}">Users</a></li>
            <li><a href="{% url 'view_patients' %}">Patients</a></li>
            <li><a href="{% url 'view_doctors' %}">Doctors</a></li>
            <li><a href="{% url 'view_admissions' %}">Admissions</a></li>
            <li><a href="{% url 'view_departments' %}">Departments</a></li>
            <li><a href="{% url 'view_wards' %}">Wards</a></li>
            <li><a href="{% url 'view_shifts' %}">Shifts</a></li>
            <li><a href="{% url 'view_beds' %}">Beds</a></li>
            <li><a href="{% url 'view_billings' %}">Billings</a></li>
            <li><a href="{% url 'view_discharged_patients' %}">Discharged Patients</a></li>
            <li><a href="{% url 'doctor_nurse_requests' %}">Doctor Requests</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <a href="{% url 'create_admission' %}">Admit Patient</a>
    <form method="GET">
        {{ form.as_p }}
        <button type="submit">Search/Filter</button>
        <a href="{% url 'view_admissions' %}?cancel_filter=True">Cancel Filter</a>
    </form>
    <table>
        <thead>
            <tr>
                <th>Admission ID</th>
                <th>Patient Username</th>
                <th>Name</th>
                <th>Ward Type</th>
                <th>Bed</th>
                <th>Admission Datetime</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for admission in admissions %}
            <tr>
                <td>{{ admission.id }}</td>
                <td>{{ admission.patient.user_profile.username }}</td>
                <td>{{ admission.patient.user_profile.full_name }}</td>
                <td>{{ admission.bed.ward.get_ward_type_display }}</td>
                <td>{{ admission.bed.bed_name }}</td>
                <td>{{ admission.admission_datetime }}</td>
                <td>
                    <a href="{% url 'edit_admission' admission.id %}">Edit</a>
                    <a href="{% url 'delete_admission' admission.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>


